<div class="section">
    <div class="row">
        <h5 class="center-align">By combining two popular platforms our app makes it easy to find movies and decide what you'd like to watch. Just search a movie title and we'll find ratings and trailers to make your decision that much easier.</h5>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="icon-block">
                <h2 class="center-align"><img class="responsive-img" src="images/rtlogo.png"></h2>
                <p class="light">Rotten Tomatoes is a website launched in 1998 devoted to film reviews and news; it is widely known as a film review aggregator...<a href="http://en.wikipedia.org/wiki/Rotten_Tomatoes">Wikipedia</a>
                </p>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="icon-block">
                <h2 class="center-align"><img class="responsive-img" src="images/ytlogo-m.png"></h2>
                <p class="light">YouTube is a video-sharing website headquartered in San Bruno, California....<a href="http://en.wikipedia.org/wiki/YouTube">Wikipedia</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4 offset-s4 center">
            <a ui-sref="site.main" class="waves-effect waves-light btn-large">Enter Site <i class="mdi-action-trending-neutral right"></i></a>
        </div>
    </div>
</div>
