<div class="section">
    <div class="row">
        <div class="col s12">
            <button ng-click="test()">test</button>
        </div>
    </div>
    <div class="row">
        <h5 class="center-align">By combining two popular platforms our app makes it easy to find and digitally pencil upcoming movies into your calendar. Just fill out the form below to find the movies your most excited about and we will provide you with a list. Select only the titles you want and we'll add them to your calendar. Simple as that.</h5>
    </div>
    <div class="row">
        <div class="col s12 m6">
            <div class="icon-block">
                <h2 class="center-align"><img class="responsive-img" src="images/rtlogo.png"></h2>
                <p class="light">Rotten Tomatoes is a website launched in 1998 devoted to film reviews and news; it is widely known as a film review aggregator...<a href="http://en.wikipedia.org/wiki/Rotten_Tomatoes">Wikipedia</a>
                </p>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="icon-block">
                <h2 class="center-align"><img class="responsive-img" src="images/gcal_logo.gif"></h2>
                <p class="light">Google Calendar is a time-management web application and mobile app created by Google...<a href="http://en.wikipedia.org/wiki/Google_Calendar">Wikipedia</a>
                </p>
            </div>
        </div>
    </div>

    <!--   User Input   -->
    <div class="row card-panel red lighten-5">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12 m4">
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="mdi-action-today prefix"></i>
                                <input type="date" class="datepicker">
                                <label>Earliest Release Date</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-action-event prefix"></i>
                                <input type="date" class="datepicker">
                                <label>Latest Release Date</label>
                            </div>
                            <div class="input-field col s12">
                                <i class="mdi-av-recent-actors prefix"></i>
                                <input id="actor" type="text" class="validate">
                                <label>Actor</label>
                            </div>

                        </div>
                    </div>
                    <div class="input-field col s12 m4">
                        <div class="row">
                            <div class="input-field col s12">
                                <label>Min Critic Rating</label>
                                <br>
                                <p class="range-field">
                                    <input type="range" id="min_critic_rating" min="0" max="100" />
                                </p>
                            </div>
                            <div class="input-field col s12">
                                <label>Min User Rating</label>
                                <br>
                                <p class="range-field">
                                    <input type="range" id="min_user_rating" min="0" max="100" />
                                </p>
                            </div>
                            <div class="input-field col s12">
                                <label for="max_run">Max Runtime (minutes)</label>
                                <br>
                                <p class="range-field">
                                    <input type="range" id="max_run" min="0" max="240" />
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12 m4">
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="MPAA">
                                    <option value="" disabled selected>Choose a maximum MPAA rating</option>
                                    <option value="G">G</option>
                                    <option value="PG">PG</option>
                                    <option value="PG-13">PG-13</option>
                                    <option value="R">R</option>
                                </select>
                            </div>
                            <div class="input-field col s12">
                                <p>
                                    <input type="checkbox" id="dvd-ch" />
                                    <label for="dvd-ch">DVD </label>
                                </p>
                            </div>
                            <div class="input-field col s12">
                                <p>
                                    <input type="checkbox" id="theater-ch" />
                                    <label for="theater-ch">Theaters</label>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<div class="section">
</div>
